*{
    margin:0;
    padding:0;
}

body{
    background:#edeef0;
    width:100%;
    height:100%;
}

.container{
    margin-top:30px;
}

.content{
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    min-height:1000px;
    padding-top:15px;
    padding-bottom: 15px;
}

.menu{
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    height:500px;
}